main{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

button{
    cursor: pointer;
    margin-top: 2rem;
    height:3rem;
    width:10rem;
    background-color: #283618;
    color: white;
    font-size: medium;
    font-weight: 700;
    border-radius: 1em;
}

.title-price-x i {
    color:red;
    font-size: 15px;
    
}

.shopping-cart {
    display:grid;
    grid-template-columns: 1fr;
    margin-top: -5%;
    gap:1rem;
    font-size: small;
}

.cart-item {
    border:1px solid black;
    display:flex;
    gap: 1rem;
    min-width: 100%;
    width:320px;
  
   
}

.title-price-x {
    display: flex;
    gap:0.5rem;
    justify-content: space-between;
    width: 195px;
    
}

.orginalPrice {
    background-color: #283618;
    color:white;
    padding:5px;
    border-radius: 3px;
}

.title-price-x h4{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    gap:1rem;
    
}

.buttonsGrp{
    margin-top: 15px;
    margin-left: 5px;
    background-color: none;
    display: flex;
    font-size: 20px;
    gap:1.3rem;
}

.detailss h3{
 display: flex;
 align-items: flex-start;
}

#label {
  position: absolute;
  top:20%; 
}
