:root {
    --color1:#283618;
    --color2:#ffff;
    --color3:red;
    --color4:#e9edc9;
    --color5:#e9c46a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

i {
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #283618;
}

.navbar {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1);
    color: var(--color2);
    padding: 25px 60px;         /**  25px is for top and bottom, 60px for left and right**/
    
}
.cart{
    background-color: var(--color2);
    color: var(--color1);
    font-size: 30px;
    padding: 5px;
    border-radius: 0.5rem;
    position: relative;

}

.cartAmount {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    background-color: var(--color3);
    color: var(--color2);
    font-size: 1rem;
    padding: 7px;
    border-radius: 50%;
}

.bi {
   font-size: 1.5rem;
}

.shop {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    justify-content: center;
    gap:10px;
    background-color: var(--color4);
    padding: 25px 60px; 
}
.item {
   
    border: 1px solid var(--color1);
    border-radius: 10px;
    background-color: white;
  
}

.item img {
    width:100%;
    object-fit: ccover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
    
}

.details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    font-family: sans-serif;
}

.details p {
    color: grey;
    font-weight: 510;
    font-size: 0.85rem;
}
.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.quantity {
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    background-color: var(--color5);
    padding:7px 10px;
    border-radius: 15px;
}